IOT project - SmartStadium.json
[{"id":"d86b03ee.6cc058","type":"tab","label":"IOT Smart Stadiom","disabled":false,"info":""},{"id":"df521596.125698","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"37028a91.0b1ffe"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"230dfeb6.8ba792","port":0}]},{"x":755,"y":169,"wires":[{"id":"856afee0.348098","port":0}]}]},{"id":"7d4b8d4e.f181ec","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IOT Smart Stadiom","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f203b56c.906a58","type":"ui_tab","name":"Measures","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d437475c.e114d","type":"ui_group","name":"Tempreture","tab":"f203b56c.906a58","order":1,"disp":true,"width":"6","collapse":false},{"id":"6444c5a2.3339cc","type":"ui_group","name":"weather information KASHAN","tab":"","order":1,"disp":true,"width":13,"collapse":false},{"id":"f68fdd96.ae1af","type":"ui_spacer","name":"spacer","group":"6444c5a2.3339cc","order":8,"width":1,"height":1},{"id":"47866f3c.a880c","type":"ui_spacer","name":"spacer","group":"6444c5a2.3339cc","order":7,"width":1,"height":1},{"id":"f73f8bec.86c73","type":"ui_group","name":"humidity","tab":"f203b56c.906a58","order":2,"disp":true,"width":"6","collapse":false},{"id":"12256500.cda613","type":"ui_group","name":"Roof State","tab":"f203b56c.906a58","order":3,"disp":true,"width":"6","collapse":false},{"id":"a42e99b9.bdcd8","type":"ui_tab","name":"CHARTS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ace1aec9.aaa428","type":"ui_group","name":"Tempreture","tab":"a42e99b9.bdcd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"40be8fda.c7bda","type":"ui_group","name":"Humidity","tab":"a42e99b9.bdcd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"443d415f.5ea4e","type":"mqtt-broker","name":"","broker":"35.156.19.218","port":"1883","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a335428e.6c48b","type":"ui_group","name":"Fan State","tab":"f203b56c.906a58","order":4,"disp":true,"width":"6","collapse":false},{"id":"29743a2a.a2df3e","type":"sqlitedb","db":"H:\\KashanUniversity\\Term 8\\IOT\\project\\project\\SmartStadium","mode":"RWC"},{"id":"230dfeb6.8ba792","type":"change","z":"df521596.125698","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"37028a91.0b1ffe","type":"json","z":"df521596.125698","name":"","x":175.5,"y":85,"wires":[["230dfeb6.8ba792"]]},{"id":"b78fb72d.ec3d78","type":"catch","z":"df521596.125698","name":"","scope":["37028a91.0b1ffe"],"x":183.5,"y":117,"wires":[["c7f43b1c.b7b5d8"]]},{"id":"c7f43b1c.b7b5d8","type":"change","z":"df521596.125698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["230dfeb6.8ba792"]]},{"id":"856afee0.348098","type":"inject","z":"df521596.125698","name":"Trigger restore","repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":618.5,"y":169,"wires":[[]]},{"id":"771b3fa8.0dd75","type":"ui_chart","z":"d86b03ee.6cc058","name":"","group":"ace1aec9.aaa428","order":0,"width":0,"height":0,"label":"Tempreture line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#80ffff","#ff7f0e","#2ca02c","#f5f971","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":100,"wires":[[]]},{"id":"10ea7d4d.62c6eb","type":"ui_gauge","z":"d86b03ee.6cc058","name":"","group":"d437475c.e114d","order":0,"width":0,"height":0,"gtype":"gage","title":"Tempreture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":20,"wires":[]},{"id":"87205622.10ada8","type":"ui_chart","z":"d86b03ee.6cc058","name":"","group":"40be8fda.c7bda","order":0,"width":0,"height":0,"label":"humidity line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#d7abda"],"outputs":1,"useDifferentColor":false,"x":810,"y":220,"wires":[[]]},{"id":"c70220db.c36f2","type":"ui_gauge","z":"d86b03ee.6cc058","name":"","group":"f73f8bec.86c73","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ce2fd2"],"seg1":"","seg2":"","x":780,"y":140,"wires":[]},{"id":"98b6a820.638e58","type":"split","z":"d86b03ee.6cc058","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":120,"wires":[["a331ece1.6300e8","ba8381f1.849548"]]},{"id":"a331ece1.6300e8","type":"switch","z":"d86b03ee.6cc058","name":"switch","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":610,"y":120,"wires":[["10ea7d4d.62c6eb","771b3fa8.0dd75","874a2e90.a409c8"],["c70220db.c36f2","87205622.10ada8","3894b4bf.fe3014"],["96bd18d0.30e79"],["f0de0187.ae5488"]]},{"id":"8f9ed9ff.7b3e","type":"function","z":"d86b03ee.6cc058","name":"Roof check","func":"if (msg.payload == 1){\n    msg.payload = \"roof is closed\"\n}\nelse{\n    msg.payload = \"roof is open\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":260,"wires":[["e87df094.eab6c8"]]},{"id":"e87df094.eab6c8","type":"ui_text","z":"d86b03ee.6cc058","group":"12256500.cda613","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":930,"y":260,"wires":[]},{"id":"874a2e90.a409c8","type":"ui_chart","z":"d86b03ee.6cc058","name":"","group":"ace1aec9.aaa428","order":1,"width":0,"height":0,"label":"Tempreture bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":60,"wires":[[]]},{"id":"3894b4bf.fe3014","type":"ui_chart","z":"d86b03ee.6cc058","name":"","group":"40be8fda.c7bda","order":1,"width":0,"height":0,"label":"Humidity bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#eef58f"],"outputs":1,"useDifferentColor":false,"x":810,"y":180,"wires":[[]]},{"id":"d031ac91.274c18","type":"file","z":"d86b03ee.6cc058","name":"Project log","filename":"H:\\KashanUniversity\\Term 8\\IOT\\project\\project\\log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf-16le","x":1110,"y":220,"wires":[[]]},{"id":"6b94c267.9a7e0c","type":"template","z":"d86b03ee.6cc058","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"time : {{mydate}} {{mytimes}} \nTempreture : {{payload}} \nHumadity : {{topic}} \nRoof state : {{roofflag}} \nFan state : {{fanflag}} \n-------------------------","output":"str","x":1100,"y":180,"wires":[["d031ac91.274c18"]]},{"id":"7950e099.ae4d3","type":"function","z":"d86b03ee.6cc058","name":"MAKE msg","func":"var t = msg.payload;\nmsg.payload = t.substring(0, 2);\nmsg.topic = t.substring(3,5);\nmsg.roofflag = t.substring(6,7);\nmsg.fanflag = t.substring(8);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":60,"wires":[["deddeae.b44e118","943eaffb.40e338"]]},{"id":"8a45abb8.949ba","type":"simpletime","z":"d86b03ee.6cc058","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":1110,"y":140,"wires":[["6b94c267.9a7e0c"]]},{"id":"23128172.09bda6","type":"join","z":"d86b03ee.6cc058","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"payload","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1090,"y":20,"wires":[["7950e099.ae4d3"]]},{"id":"ba8381f1.849548","type":"link out","z":"d86b03ee.6cc058","name":"a","links":["d19553be.e726d8"],"x":435,"y":80,"wires":[]},{"id":"d19553be.e726d8","type":"link in","z":"d86b03ee.6cc058","name":"b","links":["ba8381f1.849548"],"x":995,"y":20,"wires":[["23128172.09bda6"]]},{"id":"3c1cf8e4.43ba7","type":"mqtt in","z":"d86b03ee.6cc058","name":"","topic":"Tempretureandhumidity","qos":"2","datatype":"auto","broker":"443d415f.5ea4e","nl":false,"rap":true,"rh":0,"x":140,"y":120,"wires":[["98b6a820.638e58"]]},{"id":"deddeae.b44e118","type":"function","z":"d86b03ee.6cc058","name":"change R & F","func":"if (msg.roofflag == 1){\n    msg.roofflag = \"Closed\"\n}\nelse {\n    \n     msg.roofflag = \"Open\"\n}\nif (msg.fanflag == 1){\n    msg.fanflag = \"ON\"\n}\nelse {\n    \n     msg.fanflag = \"OFF\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":100,"wires":[["8a45abb8.949ba"]]},{"id":"f924317c.a8215","type":"function","z":"d86b03ee.6cc058","name":"Fan check","func":"if (msg.payload == 1){\n    msg.payload = \"Fan is On\"\n}\nelse{\n    msg.payload = \"Fan is Off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":300,"wires":[["7b4dbf3c.d0e2c8"]]},{"id":"7b4dbf3c.d0e2c8","type":"ui_text","z":"d86b03ee.6cc058","group":"a335428e.6c48b","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":930,"y":300,"wires":[]},{"id":"f67cff3b.93af6","type":"sqlite","z":"d86b03ee.6cc058","mydb":"29743a2a.a2df3e","sqlquery":"msg.topic","sql":"CREATE TABLE SMARTSTADIUM(id INTEGER PRIMARY KEY AUTOINCREMENT, Temperature VARCHAR, Humidity VARCHAR,RoofState CHAR,FanState CHAR, currentdate DATE, currenttime TIME)\n","name":"Smart Stadium DB","x":190,"y":280,"wires":[[]]},{"id":"943eaffb.40e338","type":"link out","z":"d86b03ee.6cc058","name":"sqlite","links":["d39fa2e6.5aff5"],"x":1235,"y":60,"wires":[]},{"id":"d39fa2e6.5aff5","type":"link in","z":"d86b03ee.6cc058","name":"sqlite","links":["943eaffb.40e338"],"x":55,"y":200,"wires":[["e14cb82.ba9a3c8"]]},{"id":"cadb2b6.4b846d8","type":"inject","z":"d86b03ee.6cc058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":360,"wires":[["689dd02a.fcccf"]]},{"id":"2d761a85.0f45de","type":"rbe","z":"d86b03ee.6cc058","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1110,"y":360,"wires":[["81091935.029818"]]},{"id":"464eb585.ada424","type":"rbe","z":"d86b03ee.6cc058","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":910,"y":360,"wires":[["60896b26.5ae2e4"]]},{"id":"872193a3.6dd57","type":"simpletime","z":"d86b03ee.6cc058","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":930,"y":440,"wires":[["5b0c9ada.9e3ec4"]]},{"id":"5b0c9ada.9e3ec4","type":"template","z":"d86b03ee.6cc058","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Roof was {{payload}} at : {{mytimes}} ","output":"str","x":920,"y":480,"wires":[["eea54514.e32cd"]]},{"id":"60896b26.5ae2e4","type":"function","z":"d86b03ee.6cc058","name":"change roof","func":"if (msg.payload == 1){\n    msg.payload = \"Closed\"\n}\nelse {\n    \n     msg.payload = \"Open\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":400,"wires":[["872193a3.6dd57"]]},{"id":"81091935.029818","type":"function","z":"d86b03ee.6cc058","name":"change fan","func":"if (msg.payload == 1){\n    msg.payload = \"On\"\n}\nelse {\n    \n     msg.payload = \"Off\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":400,"wires":[["d468044d.f25158"]]},{"id":"32906072.262968","type":"template","z":"d86b03ee.6cc058","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Fan was {{payload}} at : {{mytimes}} ","output":"str","x":1120,"y":480,"wires":[["1209a6e9.4f5959"]]},{"id":"d468044d.f25158","type":"simpletime","z":"d86b03ee.6cc058","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":1130,"y":440,"wires":[["32906072.262968"]]},{"id":"eea54514.e32cd","type":"file","z":"d86b03ee.6cc058","name":"R & F log","filename":"H:\\KashanUniversity\\Term 8\\IOT\\project\\project\\Roof&Fan Stats.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf-16le","x":920,"y":520,"wires":[[]]},{"id":"1209a6e9.4f5959","type":"file","z":"d86b03ee.6cc058","name":"R & F log","filename":"H:\\KashanUniversity\\Term 8\\IOT\\project\\project\\Roof&Fan Stats.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf-16le","x":1120,"y":520,"wires":[[]]},{"id":"96bd18d0.30e79","type":"link out","z":"d86b03ee.6cc058","name":"roof state","links":["8ab850df.2abb48","d97c20d9.89c97"],"x":655,"y":180,"wires":[]},{"id":"f0de0187.ae5488","type":"link out","z":"d86b03ee.6cc058","name":"fan state","links":["8f48dff8.731428","3b562331.753ec4"],"x":655,"y":200,"wires":[]},{"id":"8ab850df.2abb48","type":"link in","z":"d86b03ee.6cc058","name":"","links":["96bd18d0.30e79"],"x":815,"y":360,"wires":[["464eb585.ada424"]]},{"id":"8f48dff8.731428","type":"link in","z":"d86b03ee.6cc058","name":"","links":["f0de0187.ae5488"],"x":1015,"y":360,"wires":[["2d761a85.0f45de"]]},{"id":"d97c20d9.89c97","type":"link in","z":"d86b03ee.6cc058","name":"","links":["96bd18d0.30e79"],"x":675,"y":260,"wires":[["8f9ed9ff.7b3e"]]},{"id":"3b562331.753ec4","type":"link in","z":"d86b03ee.6cc058","name":"","links":["f0de0187.ae5488"],"x":675,"y":300,"wires":[["f924317c.a8215"]]},{"id":"28e8e4e2.e2afa4","type":"change","z":"d86b03ee.6cc058","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":440,"wires":[["f59ac723.314c7"]]},{"id":"f59ac723.314c7","type":"sqlite","z":"d86b03ee.6cc058","mydb":"29743a2a.a2df3e","sqlquery":"msg.topic","sql":"CREATE TABLE SMARTSTADIUM(id INTEGER PRIMARY KEY AUTOINCREMENT, Temperature VARCHAR, Humidity VARCHAR,RoofState CHAR,FanState CHAR, currentdate DATE, currenttime TIME)\n","name":"Smart Stadium DB","x":190,"y":480,"wires":[["2a459577.b699b2"]]},{"id":"689dd02a.fcccf","type":"template","z":"d86b03ee.6cc058","name":"avg HUM Command","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT avg(Humidity) FROM smartstadium WHERE \"currentdate\" >= date('now', '-1 days') AND \"currentdate\" < date('now');","output":"str","x":200,"y":400,"wires":[["28e8e4e2.e2afa4"]]},{"id":"4178ff37.7a57e8","type":"inject","z":"d86b03ee.6cc058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"56 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":360,"wires":[["5f34d7e7.166f4"]]},{"id":"2677bbf7.b2643c","type":"change","z":"d86b03ee.6cc058","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":440,"wires":[["7bb02bf0.a19034"]]},{"id":"7bb02bf0.a19034","type":"sqlite","z":"d86b03ee.6cc058","mydb":"29743a2a.a2df3e","sqlquery":"msg.topic","sql":"CREATE TABLE SMARTSTADIUM(id INTEGER PRIMARY KEY AUTOINCREMENT, Temperature VARCHAR, Humidity VARCHAR,RoofState CHAR,FanState CHAR, currentdate DATE, currenttime TIME)\n","name":"Smart Stadium DB","x":430,"y":480,"wires":[["90201550.2bbbc"]]},{"id":"5f34d7e7.166f4","type":"template","z":"d86b03ee.6cc058","name":"avg TEMP Command","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT avg(Temperature) FROM smartstadium WHERE \"currentdate\" >= date('now', '-1 days') AND \"currentdate\" < date('now');","output":"str","x":440,"y":400,"wires":[["2677bbf7.b2643c"]]},{"id":"9842e678.1da73","type":"function","z":"d86b03ee.6cc058","name":"","func":"var msg1 = {}\nmsg1.payload = msg.payload.substring(18,23);\nglobal.set('hum',msg1.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":520,"wires":[[]]},{"id":"2a459577.b699b2","type":"json","z":"d86b03ee.6cc058","name":"","property":"payload","action":"","pretty":false,"x":150,"y":520,"wires":[["9842e678.1da73"]]},{"id":"b4c0ada6.e6c5e","type":"function","z":"d86b03ee.6cc058","name":"","func":"var msg2 = {}\nmsg2.payload = msg.payload.substring(21,23);\nmsg2.topic = global.get('hum')\nglobal.set('ht',msg2);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":520,"wires":[[]]},{"id":"90201550.2bbbc","type":"json","z":"d86b03ee.6cc058","name":"","property":"payload","action":"","pretty":false,"x":350,"y":520,"wires":[["b4c0ada6.e6c5e"]]},{"id":"c91190da.829158","type":"file in","z":"d86b03ee.6cc058","name":"read report","filename":"H:\\KashanUniversity\\Term 8\\IOT\\project\\project\\Roof&Fan Stats.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":650,"y":400,"wires":[["f3b74031.b33d08"]]},{"id":"79594803.1962b","type":"e-mail","z":"d86b03ee.6cc058","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"aheydari.2012@yahoo.com","dname":"Send Daily Report","x":670,"y":520,"wires":[]},{"id":"f3b74031.b33d08","type":"function","z":"d86b03ee.6cc058","name":"","func":"var msg2 = {};\nmsg2 = global.get('ht');\nmsg.temperature = msg2.payload;\nmsg.humidity = msg2.topic;\nmsg.topic = \"Your Smart Stadium Daily Report !\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":440,"wires":[["eab59832.9a01c"]]},{"id":"eab59832.9a01c","type":"template","z":"d86b03ee.6cc058","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"In the past 24 hours : \n\navg. Tempreture : {{temperature}} \navg. Humidity : {{humidity}}\n\nRoof and Fan State Report :\n\n{{payload}}","output":"str","x":640,"y":480,"wires":[["79594803.1962b"]]},{"id":"f37070c3.301758","type":"inject","z":"d86b03ee.6cc058","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"57 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":360,"wires":[["c91190da.829158"]]},{"id":"e14cb82.ba9a3c8","type":"template","z":"d86b03ee.6cc058","name":"insert command","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO smartstadium(Temperature, Humidity,Roofstate,FanState, currentdate, currenttime) values({{payload}},{{topic}}, {{roofflag}},{{fanflag}}, date('now'), time('now'))\n/*CREATE TABLE smartstdm(id INTEGER PRIMARY KEY AUTOINCREMENT, Temperature NUMERIC, Humidity NUMERIC,roofflag NUMERIC,fanflag NUMERIC, currentdate DATE, currenttime TIME)*/","output":"str","x":190,"y":200,"wires":[["81fa8121.06a62"]]},{"id":"81fa8121.06a62","type":"change","z":"d86b03ee.6cc058","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":240,"wires":[["f67cff3b.93af6"]]}]